<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmd.stick.mapper.StickMapper">
    <select id="stickList" resultType="com.tmd.common.entity.dto.StickVO">
        select s.id, s.content, s.created_at as createdAt, s.updated_at as updatedAt from sticks s
        <where>
            user_id = #{userId}
            <if test="content != null and content != ''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="startDate != null">
                and s.created_at >= #{startDate}
            </if>
            <if test="endDate != null">
                and s.created_at &lt;= #{endDate}
            </if>
        </where>
    </select>

    <update id="updateTile">
        update sticks
        <set>
            <if test="content != null and content != '' ">
                content = #{content},
                updated_at = CURRENT_TIMESTAMP
            </if>
        </set>
        where id = #{tileId}
    </update>
</mapper>